BasedOnStyle: Google
IndentWidth: 2
# ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
DeriveLineEnding: false
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignAfterOpenBracket: AlwaysBreak
# AllowShortBlocksOnASingleLine: true
# BreakBeforeTernaryOperators: true
